body, html {
	font-family: sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

#demo {
	height: 200px;
	text-align: center;
	margin: 100px auto;
	font-family: sans-serif;
	font-size: 100px;
	vertical-align: middle;
	color: black;
}

.description {
	height: 200px;
	text-align: center;
	margin: 100px auto;
	font-family: sans-serif;
	font-size: 30px;
	vertical-align: middle;
	color: black;
}